<!DOCTYPE html>
<html>
<head>
  <title>Authenticate Page</title>
  <!--
  <link rel="stylesheet" type="text/css" href="/main.bundle.css">
  -->
</head>
<body>
  <p>Authenticate Page</p>
  <a href="/">Home</a>
  <br>
  <a href="/users/owlsketch">Log In</a>
  <br>
  <a href="/users/owlsketch">OAuth Sign In</a>
  <br>

  <form action="/authenticate" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
  </form>

  <!--
  <script type="text/javascript" src="/main.bundle.js"></script>
  -->
</body>
</html>
