<!DOCTYPE html>
<html>
<head>
  <title>Sign Up Page</title>
  <!--
  <link rel="stylesheet" type="text/css" href="/main.bundle.css">
  -->
</head>
<body>
  <p>Sign Up Page</p>
  <a href="/">Home</a>
  <br>
  <a href="/users/cathy">OAuth Sign In</a>
  <br>

  <form action="/signup" method="post">
    <div>
      <label>Username:</label>
      <input type="text" name="username"/>
    </div>
    <div>
      <label>Email:</label>
      <input type="text" name="email"/>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password"/>
    </div>
    <div>
      <input type="submit" value="Sign Up"/>
    </div>
  </form>

  <!--
  <script type="text/javascript" src="/main.bundle.js"></script>
  -->
</body>
</html>
